numpy
opencv-python
ultralytics

langchain
langchain-core
langchain-community
langchain-google-genai
langchain-pinecone
langgraph

pinecone

streamlit
python-dotenv
pydantic

google-search-results

onnxruntime
Pillow